@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"); /*400,700,800*/

$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem 8rem;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  background-color: $Off-white;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-toggle-btn {
    border: none;
    background: none;
    cursor: pointer;
  }

  .menu-icon,
  .close-menu-icon {
    display: none;
    width: 40px;
    height: 32px;
  }

  img {
    width: 70px;
    height: 40px;
  }

  ul {
    display: flex;
    gap: 2rem;

    li {
      list-style: none;

      a {
        color: $Dark-grayish-blue;
        text-decoration: none;
      }

      a:hover {
        color: $Soft-red;
      }
    }
  }
}

.section-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.principal-section {
  max-width: 746px;

  .mobile-img {
    display: none;
  }

  img {
    width: 100%;
    height: 280px;
  }

  .text-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-top: 0.4rem;
      color: $Very-dark-blue;
      line-height: 3rem;
      font-size: 2.9rem;
      font-weight: 800;
      width: 40%;
    }

    .wrapper {
      width: 50%;

      p {
        color: $Dark-grayish-blue;
        width: 96%;
        font-size: 16px;
        line-height: 1.28rem;
      }

      button {
        margin-top: 2.1rem;
        border: none;
        width: 168px;
        height: 40px;
        background-color: $Soft-red;
        color: $Off-white;
        font-weight: 700;
        letter-spacing: 0.2rem;
      }

      button:hover {
        cursor: pointer;
        background-color: $Very-dark-blue;
      }
    }
  }
}

.second-section {
  padding: 1.2rem 1.7rem;
  max-width: 420px;
  min-height: 470px;
  background-color: $Very-dark-blue;

  h2 {
    color: $Soft-orange;
    font-size: 2rem;
  }

  h3 {
    width: 250px;
    margin-top: 2rem;
    color: $Off-white;
  }

  h3:hover {
    cursor: pointer;
    color: $Soft-orange;
  }

  p {
    margin-top: 0.8rem;
    color: $Grayish-blue;
    font-size: 0.85rem;
    line-height: 1.4rem;
  }

  hr {
    border-bottom: none;
    margin-top: 1.4rem;
    color: rgba(255, 255, 255, 0.14);
  }
}

.third-section {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;

  article {
    display: flex;
    gap: 1.4rem;
    width: 400px;

    img {
      margin-top: 0.4rem;
      width: 100px;
      height: 120px;
    }

    h2 {
      color: $Grayish-blue;
      font-size: 2rem;
    }

    h4 {
      margin-top: 0.6rem;
      color: $Very-dark-blue;
      font-size: 1.15rem;
      letter-spacing: 0.01mm;
    }

    h4:hover {
      cursor: pointer;
      color: $Soft-red;
    }

    p {
      color: $Dark-grayish-blue;
      margin-top: 0.6rem;
      line-height: 1.4rem;
    }
  }

  article:nth-child(1) {
    p {
      width: 90%;
    }

    h4 {
      width: 180px;
    }
  }

  article:nth-child(2) {
    padding-left: 0.6rem;

    p {
      width: 80%;
    }

    h4 {
      width: 220px;
    }
  }

  article:nth-child(3) {
    padding-left: 1.2rem;

    h4 {
      width: 210px;
    }
  }
}

@media (max-width: 1250px) {
  .section-wrapper {
    display: block;
  }

  .principal-section {
    max-width: 100%;

    img {
      height: 300px;
    }
  }

  .second-section {
    margin-top: 3rem;
    max-width: 100%;

    h2 {
      margin-top: 0.6rem;
    }
  }

  .third-section {
    flex-wrap: wrap;

    article {
      margin-top: 0.8rem;
      width: 400px;
    }

    article:nth-child(1) {
      p {
        width: 100%;
      }
    }

    article:nth-child(2) {
      padding-left: 0;

      p {
        width: 100%;
      }
    }

    article:nth-child(3) {
      padding-left: 0;
    }
  }
}

@media (max-width: 820px) {
  body {
    padding: 2rem 6rem;
  }
}

@media (max-width: 760px) {
  body {
    padding: 2rem 4rem;
  }

  nav {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2rem;
      font-size: 1.2rem;
      gap: 2rem;
      position: fixed;
      width: 70%;
      height: 100vh;
      top: 00px;
      right: 0;
      background-color: $Off-white;
      right: -100%;
      transition: all 0.5s;
      box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.8);

      li {
        a {
          color: $Very-dark-blue;
        }
      }
    }

    .ul-nav-active {
      right: 0;
    }

    .nav-toggle-btn {
      z-index: 1;
    }

    .menu-icon {
      display: block;
    }

    .occult {
      display: none;
    }

    .show {
      display: block;
    }
  }

  .principal-section {
    max-width: 100%;

    .mobile-img {
      display: block;
    }

    .desktop-img {
      display: none;
    }
  }
}

@media (max-width: 690px) {
  .principal-section {
    .text-container {
      display: block;

      h1 {
        width: 100%;
        margin-top: 0;
        line-height: 2.8rem;
        font-size: 2.2rem;
      }

      .wrapper {
        width: 100%;

        p {
          margin-top: 1rem;
          width: 100%;
          font-size: 0.9rem;
          line-height: 1.28rem;
        }

        button {
          width: 148px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    padding: 2rem 1rem;
  }

  .second-section {
    h3 {
      width: 100%;
    }
  }

  .third-section {
    article:nth-child(1) {
      h4 {
        width: 100%;
      }
    }

    article:nth-child(2) {
      h4 {
        width: 100%;
      }
    }

    article:nth-child(3) {
      h4 {
        width: 100%;
      }
    }
  }
}
